body
{
    margin: 0;
    background-color:#132C33;
    color: white;
}

/* universal */

.container
{
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}

.distance
{
    margin-top: 2vw;
}

.line-headline
{
    border: 0.5px solid black;
    width: 70%;
    margin: 0vw !important;
}

.text-headline
{
    font-size: 2.2vw;
}

/* navigation bar section */

.navbar-container
{
    background-color:#132C33;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-logo li
{
    float: left;
}

.navbar-menu
{
    float: right;
}

.navbar-menu li
{
    display:inline-block;
}

.navbar-menu li a:hover:not(.active)
{
    background-color: #111;
}

.navbar li a
{
    display: block;
    color: #D8E3E7;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 1.4vw;
}

.active
{
    background-color: #51C4D3;
}

/* slide show section */

.img-slide-show
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-slide
{
    width: 100%;
    height: auto;
}

/* latest news section */

.cards-container
{
    height: auto;
}

.card-img
{
    display: inline-block;
}

.card-details
{
    display: inline-block;
    
}


