body
{
    margin: 0;
    background-color:#132C33;
    color: white;
}

/* universal */

.container
{
    margin-left: 16vw !important;
    margin-right: 16vw !important;
}

.distance
{
    margin-top: 1.5vw;
}

.line-headline
{
    border: 0.5px solid black;
    width: 70%;
    margin: 0vw !important;
}

.text-headline
{
    font-size: 1.8vw;
}

/* navigation bar section */

.navbar-container
{
    background-color:#132C33;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-logo li
{
    float: left;
}

.navbar-menu
{
    float: right;
}

.navbar-menu li
{
    display:inline-block;
}

.navbar-menu li a:hover:not(.active)
{
    background-color: #111;
}

.navbar li a
{
    display: block;
    color: #D8E3E7;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.active
{
    background-color: #51C4D3;
}

/* slide show section */

.img-slide-show
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-slide
{
    width: 100%;
    height: auto;
}

/* latest news section */

.table-container
{
    width: 70%;
}

.table-container table
{
    width: 100%;
}

.card-img
{
    width: 20%;
}

.card-img img
{
    width: auto;
    height: 10vw;
}

.card-title
{
    height: 5vw;
    align-items: top;
    display: flex;
}

.card-title a
{
    text-decoration: none;
    padding-top: 1.5vw;
    font-size: 1.2vw;
    color: white;
}

.card-title a:hover
{
    text-decoration: underline;
}

.card-details
{
    height: 5vw;
    align-items: top;
    display: flex;
}


